{% load static %}
{% include 'home/topo.html' %}
    <div class="conteudo">
      <form action="{% url 'salvar_produto' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <h2>Cadastrar produto</h2>

        <label for="nome">Nome</label>
        <input type="text" name="nome" id="nome">

        <label for="preco">Preço</label>
        <input type="text" name="preco" id="preco">

        <label for="quantidade">Quantidade</label>
        <input type="number" name="quantidade" id="quantidade">

        <label for="tamanho">Tamanho</label>
        <input type="text" name="tamanho" id="tamanho">

        <label for="categoria">Categoria</label>
        <input type="text" name="categoria" id="categoria">

        <label for="foto">Foto</label>
        <input type="file" name="foto" id="foto">

        <label for="status">Status</label>
        <input type="text" name="status" id="status">

        <button type="submit">Salvar</button>
      </form>
    </div>
  </body>
</html>