*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 2.5rem 5px 2.5rem;
}

.menu a{
    border: solid 1px rgb(165, 165, 165);
    padding: 10px 2rem 10px 2rem;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 14px;
}

.menu a:hover{
    background-color:green;
    color: white;
}

.hero{
    background-color: rgb(250, 94, 4);
    padding: 2rem;
    color: white;
}

.hero h1,p{
    padding-bottom: 2rem;
}
h1{
    text-transform: uppercase;
}

.hero a{
    background-color: white;
    padding: 10px 2rem 10px 2rem;
    text-decoration: none;
    color: rgb(70, 70, 70);
    border-radius: 5px;
}

.hero a:hover{
    background-color: rgb(233, 231, 210);
    text-decoration: underline;
}

.conteudo{
    width: 700px;
    margin: auto;
    margin-top: 1.5rem;
}

.geral{
    display: flex;
}

.cards {
    border-radius: 5px;
    width: 25%;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
    padding: 10px 2rem 10px 2rem;
    margin: 5px;
    align-items: center;
    text-align: center;
    
  }