.video {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.container-botoes {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
.container-botoes button {
  background-color: #007CFF;
  border: none;
  color: #FFF;
  padding: 0.5rem 1rem;
}
.container-botoes button:active {
  box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.404);
}